[SddmGreeterTheme]
Name=Reactionary
Description=Retro goodness
Author=Phobian347
Copyright=
License=GPLv3
Type=sddm-theme
Version=1.1
Website=https://www.pling.com/u/phob1an/
Screenshot=preview.png
MainScript=Main.qml
ConfigFile=theme.conf
TranslationsDirectory=translations
Email=phobian@tutanota.com
Theme-Id=reactionary
Theme-API=2.0
