@import "./colors.css";

* {
  min-height: 0;
  margin: 0;
  padding: 0;
  font-family: "MesloLGS NF";
  font-weight: 400;
}

window#waybar {
  background-color: @base07;
  border: none;
}

window#waybar > box.horizontal {
  padding: 5px;
}

window#waybar .module,
tooltip {
  margin: 0px 5px;
  padding: 5px 10px;
  background-color: @base06;
  /* border: 1px solid @base02; */
  border-radius: 5px;
  font-size: 9pt;
  color: @base00;
}

tooltip { border-radius: 5px; }

window#waybar .module#workspaces {
  background-color: @base08;
  padding: 3px 5px;
  border-radius: 100px;
}

window#waybar .module#workspaces button {
  margin: 0 1px;
  padding: 2px;
  border-radius: 100px;
  color: @base07;
}

window#waybar .module#workspaces button.active {
  /* background-color: @base06; */
  color: @base01;
}

window#waybar .module#workspaces button:hover {
  all: inherit;
}
